bin/
lib/
lib64
share/
pyvenv.cfg
__pycache__
*.o
262/avg
262/list
262/roach
295/compound
295/factorial
295/fsa
295/hanoi
295/swap
364/buffer/buffer
364/buffer/c.out
364/buffer/d.out
364/buffer/f.out
364/buffer/s.out
364/ko/ko
